

.h2style h2{
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    color: #2e2e2e;
    letter-spacing: 1.6px;
}

.h2style p{
    font-family: 'Lato', sans-serif;
    color: #7e7e7e;
    letter-spacing: 0.8px;
    width: 44%;
    display: inline-block;
    font-size: 16px;
    line-height: 1.4;
}

.h2style{
    position: absolute;
    top: 60px;
    width: 100%;
    display: inline;
    text-align: center;
}

.h2style h2::after{
    content: " ";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 13px;
    left: 480px;
    border-radius: 3px;
    border: 1px solid #00aff0;
}
.h2style h2::before{
    content: " ";
    width: 45px;
    height: 45px;
    position: absolute;
    top: 3px;
    left: 470px;
    border-radius: 3px;
    border: 1px solid #00aff0;
}

.icons{
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    text-align: center;
    position: absolute;
    left: 471px;
    top: 270px;
    line-height: 24px;
    width: 390px;
    height: 287px;
}

.icons h5 a{
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
}

.icons h5 a:hover{
    color:#00aff0 ;
}

.icons h5{
    text-transform: uppercase;
    letter-spacing: 1.3px;
    display: inline-block;
    position: relative;
    top: 118px;
}

.icons p{
    font-family: 'Lato', sans-serif;
    color: #7e7e7e;
    letter-spacing: 0.8px;
    width: 85%;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 174px;
    left: 33px;
}

.icons i{
    
    font-size: 75px;
    position: absolute;
    left: 160px;
    top: 32px;
    margin-bottom: 36px;
    color: #00aff0;

}


.main3{
    width: 360px;
    text-align: center;
    position: relative;
    left: 475px;
    top: 650px;
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    background: white;

}

.main3 img{
    margin: 20px;

}



.insmain3 span{
    font-size: 13px;
    color: #00aff0;
    margin-right: 260px;
}

.main3 .insmain3 h2{
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin-left: 13px;
    text-align: left;
    line-height: 1.5;
}

.main3 .insmain3 .h2a:hover{
    color: #00aff0;
}


.insmain3 .h2a{
    text-decoration: none;
    color: #2e2e2e;
}



.insmain3 .time{
    margin-left: 15px;
    text-align: left;
    color: #2e2e2e;
    font-size: 12px;
    font-family: cursive;
}



.insmain3 .text{
    line-height: 26px;
    letter-spacing: -0.3px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #7e7e7e;
    font-weight: 700;
    width: 350px;
}


.insmain3 .read{
    text-align: left;
    margin-left: 19px;
    padding-bottom: 18px;
}

#link{

    text-decoration: none;
    color: #2e2e2e;
}
#link:hover{
    color: #00aff0;
}

.textt {
    text-align: center;
    box-shadow: 0 0 15px rgb(0 0 0 / 8%);
    width: 154px;
    height: 58px;
    position: absolute;
    left: 572px;
    color: #2e2e2e;
    

}

.textt h3{
    font-family: 'M PLUS 1', sans-serif;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1.2px;
}

.textt h3::before{
    content: "";
    position: absolute;
    left: 12px;
    bottom: 13px;
    width: 31px;
    border: 1px solid;
    color: #00aff0;

}